@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 2, 1, 45;
    --background-end-rgb: 2, 1, 45;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 2, 1, 45;
        --background-end-rgb: 2, 1, 45;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));

    line-height: 158.7%;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

h2 {
    color: #fff;
    text-align: center;
    font-size: 58px;
    line-height: 127.7%; /* 74.066px */
    letter-spacing: -1.74px;
    @apply my-3;
}

h4 {
    color: white;
    font-size: 28px;
    line-height: 127.7%; /* 35.756px */
    letter-spacing: -0.84px;
}

p {
    font-size: 18px;
    line-height: 127.7%; /* 22.986px */
    letter-spacing: -0.54px;
}
